<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>462503653409-h6ukv40lj2rjbtk56qnihmrdjns8vncs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462503653409-h6ukv40lj2rjbtk56qnihmrdjns8vncs</string>
	<key>API_KEY</key>
	<string>AIzaSyANaqSeRdqS8U2FMzhHsPY3QSOP3gVPc_I</string>
	<key>GCM_SENDER_ID</key>
	<string>462503653409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imyourdoc.release</string>
	<key>PROJECT_ID</key>
	<string>im-your-doc-74efc</string>
	<key>STORAGE_BUCKET</key>
	<string>im-your-doc-74efc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:462503653409:ios:f3e0c809610cb205</string>
	<key>DATABASE_URL</key>
	<string>https://im-your-doc-74efc.firebaseio.com</string>
</dict>
</plist>